apiVersion: v1
kind: Service
metadata:
  name: etcd
  namespace: nnoe
spec:
  clusterIP: None
  selector:
    app: etcd
  ports:
    - name: client
      port: 2379
      targetPort: 2379
    - name: peer
      port: 2380
      targetPort: 2380
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: etcd
  namespace: nnoe
spec:
  serviceName: etcd
  replicas: 3
  selector:
    matchLabels:
      app: etcd
  template:
    metadata:
      labels:
        app: etcd
    spec:
      containers:
      - name: etcd
        image: quay.io/coreos/etcd:v3.5.9
        ports:
        - containerPort: 2379
          name: client
        - containerPort: 2380
          name: peer
        env:
        - name: ETCD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: ETCD_DATA_DIR
          value: /etcd-data
        - name: ETCD_LISTEN_CLIENT_URLS
          value: http://0.0.0.0:2379
        - name: ETCD_ADVERTISE_CLIENT_URLS
          value: http://$(ETCD_NAME).etcd.nnoe.svc.cluster.local:2379
        - name: ETCD_LISTEN_PEER_URLS
          value: http://0.0.0.0:2380
        - name: ETCD_INITIAL_ADVERTISE_PEER_URLS
          value: http://$(ETCD_NAME).etcd.nnoe.svc.cluster.local:2380
        - name: ETCD_INITIAL_CLUSTER
          value: etcd-0=http://etcd-0.etcd.nnoe.svc.cluster.local:2380,etcd-1=http://etcd-1.etcd.nnoe.svc.cluster.local:2380,etcd-2=http://etcd-2.etcd.nnoe.svc.cluster.local:2380
        - name: ETCD_INITIAL_CLUSTER_TOKEN
          value: nnoe-cluster-k8s
        - name: ETCD_INITIAL_CLUSTER_STATE
          value: new
        volumeMounts:
        - name: etcd-data
          mountPath: /etcd-data
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -ec
            - ETCDCTL_API=3 etcdctl endpoint health
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -ec
            - ETCDCTL_API=3 etcdctl endpoint health
          initialDelaySeconds: 10
          periodSeconds: 5
  volumeClaimTemplates:
  - metadata:
      name: etcd-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 10Gi

